# Android / Gradle
.gradle/
/local.properties
**/build/
**/.cxx/
.cxx/
/.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Kotlin / IntelliJ
out/
*.class

# VS Code
.vscode/

# Logs
*.log

# Android Studio generated
captures/
.navigation/
.externalNativeBuild/
.cxx/

android/local.properties
